﻿@{
    ViewData["Title"] = "DispensaryDB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="dispensary-create">
    <h2>Add your business</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container-fluid">
            <form action="/dispensaries/Create" method="post" id="dispensary-form">
                <div>
                    <label for="name" class="col-sm-3 control-label">Name</label>
                    <input id="name" name="name" type="text" />
                </div>

                <div>
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <input id="email" name="email" type="email" />
                </div>
                <div>
                    <label for="licenseNumber" class="col-sm-3 control-label">LicenseNumber</label>
                    <input id="licenseNumber" name="licenseNumber" type="number" />
                </div>
                <div>
                    <label for="phoneNumber" class="col-sm-3 control-label">PhoneNumber</label>
                    <input id="phoneNumber" name="phoneNumber" type="text" />
                </div>
                <div>
                    <label for="website" class="col-sm-3 control-label">Website</label>
                    <input id="website" name="website" type="text" />
                </div>
                <div>
                    <label for="DOE" class="col-sm-3 control-label">Date of Establishment</label>
                    <input id="DOE" name="DOE" type="date" />
                </div>
                <div>
                    <label for="Address" class="col-sm-3 control-label">Address</label>
                    <input id="Address" name="Address" type="text" />
                </div>

                <div>
                    <label for="City" class="col-sm-3 control-label">City</label>
                    <input id="City" name="City" type="text" />
                </div>

                <div>
                    <label for="State" class="col-sm-3 control-label">State</label>
                    <input id="State" name="State" type="text" />
                </div>

                <div>
                    <label for="Zip" class="col-sm-3 control-label">Zip</label>
                    <input id="Zip" name="Zip" type="text" />
                </div>
                <button type="submit" class="btn btn-success btn-block">Add</button>
            </form>
        </div>
    }
    else
    {
        <div class="form-group">
            <a href="/Home/Login" class="btn btn-success btn-group-lg" role="button">Sign In</a>
        </div>

        <div class="form-group">
            <a href="/Home/Register" class="btn btn-success btn-group-lg" role="button">Sign up</a>
        </div>

    }
</div>