﻿
@{
    ViewData["Title"] = "DispensaryDB";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model IEnumerable<DispensaryDB.Models.Dispensary>
@using System.Security.Claims


 <div class="dispesnsary-row">

            <div id="tiles">

                <div id="dispensary-tile">

                </div>
            </div>
            <div id="map" >Map here</div>
        </div>
<script async defer src="~/js/dispensary-map.js"></script>

<script async defer src="~/js/dispensaries.js"></script>


        <script async defer src="~/js/mapfeature.js"> </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeJaowgQYY7-n8Gujf0CVdfTfB6wQxEr8&callback=myMap"></script>



