﻿@{
    ViewData["Title"] = "Create Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DispensaryDB.Models.Profile
<h2>Add your profile</h2>
<div class="container-fluid">
    <form action="/profiles/Create" method="post" id="profile-form"  enctype="multipart/form-data">
        
        <div class="form-group">
            <label for="FirstName" class="col-sm-3 control-label">First Name</label>
            <input id="FirstName" name="FirstName" type="text" />
        </div>
        
        <div class="form-group">
            <label for="LastName" class="col-sm-3 control-label">Last Name</label>
            <input id="LastName" name="LastName" type="text" />
        </div>
        
        <div class="form-group">
            <label for="DOB" class="col-sm-3 control-label">Date of birth</label>
            <input id="DOB" name="DOB" type="datetime" />
        </div>
        
        <div class="form-group">
            <label for="Address" class="col-sm-3 control-label">Address</label>
            <input id="Address" name="Address" type="text" />
        </div>
        
        <div class="form-group">
            <label for="City" class="col-sm-3 control-label">City</label>
            <input id="City" name="City" type="text" />
        </div>
        
        <div class="form-group">
            <label for="State" class="col-sm-3 control-label">State</label>
            <input id="State" name="State" type="text" />
        </div>
       
        <div class="form-group">
            <label for="Zip" class="col-sm-3 control-label">Zip</label>
            <input id="Zip" name="Zip" type="text" />
        </div>
        <div class="form-group">
            <label for="image" class="col-sm-3 control-label" >Image</label>
            <input id="image" name="image" type="file" accept="image/*" capture/>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>