﻿@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model DispensaryDB.Models.Profile

<h4>@Html.DisplayFor(model => model.FirstName) edit your profile.</h4>
<form action="/profiles/Edit" method="post" id="profile-form" class="form-horizontal jumbotron" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model=>@Model.ProfileId)
    @Html.HiddenFor(model => @Model.RowVersion)
    @Html.HiddenFor(model => @Model.User)
    <div class="row" id="edit-div">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="FirstName" class="col-sm-3 control-label">First Name</label>
                <input id="FirstName" name="FirstName" type="text" value="@Model.FirstName" />
            </div>

            <div class="form-group">
                <label for="LastName" class="col-sm-3 control-label">Last Name</label>
                <input id="LastName" name="LastName" type="text" value="@Model.LastName" />
            </div>

            <div class="form-group">
                <label for="DOB" class="col-sm-3 control-label">Date of birth</label>
                <input id="DOB" name="DOB" type="date" value="@Model.DOB" />
            </div>

            <div class="form-group">
                <label for="Address" class="col-sm-3 control-label">Address</label>
                <input id="Address" name="Address" type="text" value="@Model.Address" />
            </div>

            <div class="form-group">
                <label for="City" class="col-sm-3 control-label">City</label>
                <input id="City" name="City" type="text" value="@Model.City" />
            </div>

            <div class="form-group">
                <label for="State" class="col-sm-3 control-label">State</label>
                <input id="State" name="State" type="text" value="@Model.State" />
            </div>

            <div class="form-group">
                <label for="Zip" class="col-sm-3 control-label">Zip</label>
                <input id="Zip" name="Zip" type="text" value="@Model.Zip" />
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                @Html.HiddenFor(model => @Model.image)
                <div id="img-update">
                    <img src="~/img/@Html.DisplayFor(model=>Model.image)" id="edit-image" />
                    <input name="image"  type="file" id="image-file" accept="image/*" capture/>
                </div> 
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>

