﻿
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DispensaryDB.Models.Profile>
@using System.Security.Claims
<script type="text/javascript">
    $(document).ready(function () {
        $("#edit-form").click(function () {
            $.ajax({
                type: "GET",
                datatype: "html",
                url: "@Url.Action("Edit")",
                success: function (result) {
                    $("#edit-form-display").html(result);

                }

            })

        });

    });
</script>
<div class="">
    @if (Model.Any())
    {

        @foreach (var profile in Model)
        {
            <div class="row" id="profile">
                <div class="col-xs-6" id="profile-info">
                    <p>@profile.FirstName @profile.LastName</p>
                    <p>@profile.City</p>
                    <p>@profile.DOB.Date</p>
                    <div>
                      <a href="/profiles/Edit/@profile.ProfileId" role="button" id="edit-profile" class="btn btn-danger">Update your profile</a>                         
                    </div>
                </div>               
                <div class="col-xs-6">
                    <img src="~/img/@profile.image" alt="profile picture" id="profile-img"  />
                    
                    
                </div>
            </div>
        }

    }
    else
    {
        @Html.ActionLink("New Profile", "Create")

    }
</div>
<div id="edit-form-display"></div>
