﻿@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
   <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    
        <title>@ViewBag.Title</title>

</head>
<body>
    
    

        
            
    <div id="brandName" class="container-fluid">
        <div id="brand">
            <a role="button" class="brand" href="/"></a>
        </div>
        
        <div class="navbar">
            <div id="logo">
               
            </div>

            <div >
                <ul>
                    <li id="dropdown">
                        <a href="javascript:void(0)" id="dropbtn">Dispensaries</a>
                        <div id="dropdown-content">
                            <a href="/dispensaries">Dispensaries</a>
                            <a href="/dispensaries/Create">Add</a>
                        </div>
                    </li>
                  
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li id="dropdown">
                            <a href="javascript:void(0)" id="dropbtn">@User.Identity.Name</a>
                            <div id="dropdown-content">
                                <a href="/profiles">Profile</a>
                                <a href="/strains/Create">Add Strain</a>
                          @using (Html.BeginForm("LogOff", "Home"))
                                {

                                    <input type="submit" class="btn btn-block btn-success" value="Log out" />
                                }
                           
                            </div>
                        </li>
                    }
                    else
                    {
                        <li><a href="#" id="login-form" role="button">Login</a></li>
                    }
                   
                    @*<li class="dropdown"><a href="/strains">Strains</a></li>*@
                </ul>



            </div>

            

        </div>

    </div>
    <hr />


    <div id="login-display"></div>

    <div class="after-nav row">
        <div class="sidebar col-sm-2">
            
        </div>
        
        <div class="afterNav col-sm-10">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Open Modal</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div id="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>

        </div>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script src="~/jQuery/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#login-form").click(function () {
                $.ajax({
                    type: "GET",
                    dataType : "html",
                    url: "@Url.Action("Login")",
                    success: function (result) {
                        $("#login-display").html(result);

                    }
                });
            });
            $("#dispensary-button").click(function () {

                $("#dispensary-nav-tile").show();

            });
            var modal = document.getElementById('myModal');

            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on the button, open the modal 
            btn.onclick = function () {
                modal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });
    </script>

    <script async defer src="~/js/dispensaries.js"></script>

</body>


</html>
