﻿@media screen and (max-width:599px){
   
    /*main page*/
    body {
        background-color: #fffff0;
        width: 100rem;
     
        
        font-size:36px;
    }
      input{
        width:100%;
    }
    hr {
        color: #079e16;
    }
    br{
        color: #079e16;

    }
    /*content after nav bar*/
    .afterNav {
        height: 950px;
        width: 100rem;
    }

    .strain{

        display:inline-block;
    }
    #strain{
     
        display:inline-block;
    }

    .after-nav {
        
        background-color: #fffff0;
        height: 950px;
        width: 100rem;
    }

    /*.empty{
    height:250px;
    width:100rem;
    border-right:dashed;
    margin-right:5rem;
    
}*/
    /*.row{
        display:flex;
    }*/
    /*dispensary form in home page*/
    #home-signup {
        display: inline-block;
        text-align: center;
     height: 100%;
        width: 40rem;
        margin:1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        font-size:36px;
    }
         
    label {
        font-size: 16px;
    }
         div#business-signup{
         width: 40rem;
         height:57rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    #business-signup {
        display: inline-block;
        text-align: center;
        height: 40rem;
        width: 40rem;
        padding: 5px;
        margin:1rem;

    }

        #business-signup p {
                   font-size:36px;

        }
    /*login-form that displays anywhere*/
    .login-form {
        text-align: center;
        height: 50rem;
        width: 50rem;
        font-size:36px;

    }
         div.login-form{
         width: 50rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    /*after-login home page*/
    #home-dispensary {
        width: 90rem;
        height: 300px;
        overflow: hidden;
        font-size:36px;
        
     

    }
div#home-dispensary{
    width: 90rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    #home-deal {
        font-size:36px;

        width: 90rem;
        height: 300px;
        overflow: hidden;
     
    }
    
    div#home-deal{
    width: 90rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    #home-service {
        width: 90rem;
        height: 250px;
        overflow: hidden;
        
        font-size:36px;

    }
    div#home-service{
    width: 90rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    #home-map {
        width: 98%;
        height: 300px;
        overflow: hidden;
    }
    div#home-map{
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    /*dispensary form input dispensary create page*/
   
    #dispensary-form {
        display: inline-block;
        height: 50rem;
        width: 35rem;
        margin-bottom: 15rem;
        text-align: center;
       
    }
    div#dispensary-form{
    width: 35rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    #dispensary-create {
        display: inline-block;
        height: 50rem;
        width: 50rem;
       
        text-align: center;
    }
    /*profile index page*/
    #profile-form {
        text-align: center;
        height: 100rem;
        width: 80rem;
            font-size:36px;

    }

    #profile {
        display: flex;
        max-height: 375px;
      width:90rem;
      overflow:scroll;
    }

        #profile p {
            display: inline-block;
                        font-size:36px;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    #profile-img {
        border: groove;
        float: right;
        width: 150px;
        display: block;
        height: 150px;
        
    }
    /*profile edit page*/
    #img-update {
        max-width: 30rem;
        border: groove;
        display: inline-block;
    }

    #edit-image {
        width: 200px;
        height: 200px;
        margin: 1rem;
    }

    #image-file {
        overflow: hidden;
    }

    #edit-div {
        display: flex;
    }

    #profile-info {
        width: 50rem;
        margin: 1rem;
    }
    /*dispensary index page*/
    .dispensary-row {
        display: inline-flex;
        width: 100rem;
        height: 750px;
       
    }

    #map {
        display: inline-flex;
        
        width: 100rem;
        height: 300px;
        background-color: white;
    }
     div#map{
         width: 100rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    }
    #tiles {
        display: inline-flex;
        
        width: 100rem;
        height: 300px;
        border-right: ridge;
        
    }
    div#tiles{
    width: 100rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    h3{
            font-size:36px;

    }
    div#dispensary-tile{
    width: 100rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
 #dispensary-tile{
         text-align: center;
        background-color: #5cb0ed;
        display:block;
        width: 100rem;
        height: 300px;
            font-size:36px;
        
        
        overflow:scroll;
        
       
        transition: 4s;
       
    }

    #dispensary-tile p {
        text-align: center;
        background-color: #5cb0ed;
        display: inline-flex;
        width: 100%;
        height: 100px;
        color: #fffff0;
            font-size:36px;
       
        overflow: scroll;
        transition: 4s;
        vertical-align:baseline;
    }

 


    .mainpage {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
        -moz-column-gap: 10px; /* Firefox */
        column-gap: 10px;
    }
    /*all form inputs*/
    #email {
        text-align: center;
    }

    #username {
        text-align: center;
    }

    #password {
        text-align: center;
    }

    #confirmPassword {
        text-align: center;
    }

    .form-horizontal {
        text-align: center;
        border: 2px;
    }

    #signup-form h2 {
        width:100%;
        text-align: center;
        height:100%;
    }
    #signup{
        width:100%;

    }
    .home-page {
        display: inline-flex;
       
        align-items: center;
    }

    #login-display {
        z-index: 1;
    }

    #user-email {
        text-align: right;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#dropbtn li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

 #dropdown:hover #dropbtn li a:hover{
    background-color: red;
}

li#dropdown {
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown-content a:hover {background-color: #f1f1f1}

#dropdown:hover #dropdown-content {
    display: block;
}
    .sidebar {
        display: none;

        height: 600px;
        width: 300px;
        background-color: #079e16;
        position: absolute;
       
        align-self: flex-start;
        overflow: scroll;
        transition: 4s;
        border-right: groove;
    }
div.sidebar{
  width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}
    .sidebar-content {
        display: none;
        height: 15rem;
        width: 30vw;
        border-bottom: groove;
        border-bottom-color: white;
        overflow: visible;
        margin: 1rem;
    }

        .sidebar-content p {
            font-size: 20px;
            color: #ffeb3b;
        }
    /*navbar*/
    .navbar {
        background-color: #fffff0;
                width:100%;
        height: 150px;
       z-index:1;
       
    }
    footer {
        display: inline-block;
        list-style-type: none;
        margin-top:25rem;
        padding: 0;
        overflow: hidden;
        height: auto;
        background-image: url('../img/greenleaf.png');
        width:100rem;

        /*background-color: #532370;*/
    }

        footer a {
            display: inline-block;
                        font-size:36px;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /*After Login Page*/
    #afterLogin {
        width: 100%;
        height: 950px;
        
    }
  
    /*brand-name*/


    #brandName {
        display: inline-flex;
        height: 150px;
                width:100rem;
        
            font-size:36px;
  
        background-color: #079e16;
    }

    #brand {
       
        display: flex;
        background-image: url('../img/newcolorleaf.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-decoration: none;
        color: #079e16;
        position: relative;
    }
   
        #brand a {
            color: #079e16;
            padding: 14px 25px;
            z-index: 1;
            position: relative;
            text-decoration: none;
            display: flex;
            height: 150px;
            width: 150px;
            font-size:36px;
        }
    /*#brand :hover {
       
    background-image: url('../img/logo.png');
    background-size:100% 100%;
    background-color:transparent;
    background-repeat: no-repeat;
    text-decoration: none;

}*/
    #logo {
        height: 74px;
                width:98%;
        background-image: url('../img/logo2.png');
        background-size: 100% 100%;
    }
}

@media screen and (min-width:600px){
    
   
    /*main page*/
    body {
        background-color: #fffff0;
        width: 100rem;
       
       
        font-size:xx-large;
    }
    .row{
        display:flex;
    }
      input{
        width:100%;
    }

    hr {
        color: #079e16;
    }
    br{
        color: #079e16;

    }
    /*content after nav bar*/
    .afterNav {
        height: 950px;
        width: 70rem;
        margin-left:300px;

    }
    .strain{
    
        display:inline-block;
    }
    #strain{
     
        display:inline-block;
    }

    .after-nav {
        
        background-color: #fffff0;
        height: 950px;
        width: 100rem;
    }
    /*.empty{
    height:250px;
    width:100rem;
    border-right:dashed;
    margin-right:5rem;
    
}*/
    /*dispensary form in home page*/
    #home-signup {
        display: inline-block;
        text-align: center;
       height: 70%;
        width: 40rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              

        font-size:20px;
    }

    label {
        font-size: 16px;
    }

    #business-signup {
        display: inline-block;
        text-align: center;
        height: 70rem;
        width: 40rem;
        padding: 5px;

    }

        #business-signup p {
                   font-size:20px

        }
    /*login-form that displays anywhere*/
    .login-form {
        text-align: center;
        height: 50rem;
        width: 50rem;
        font-size:xx-large;

    }
    /*after-login home page*/
    #home-dispensary {
    width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
   

    }

    #home-deal {
     width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
    }

    #home-service {
           width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
    }

    #home-map {
        width: 98%;
        height: 300px;
        overflow: hidden;
   
       

    }
     div#home-map{
                 width: 98%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    /*dispensary form input dispensary create page*/
   

    #dispensary-form {
        display: inline-block;
        height: 50rem;
        width: 35rem;
        margin-bottom: 15rem;
        text-align: center;
        
       
    }

    #dispensary-create {
        display: inline-block;
        height: 50rem;
        width: 50rem;
        
       
        text-align: center;
    }
    /*profile index page*/
    #profile-form {
        text-align: center;
        height: 100rem;
        width: 80rem;
            font-size:24px;

    }

    #profile {
        display: flex;
        
       
      width:90rem;
      overflow:scroll;
    }

        #profile p {
            display: inline-block;
                        font-size:xx-large;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    #profile-img {
        border: groove;
        float: right;
        width: 150px;
        display: block;
        height: 150px;
        
    }
    /*profile edit page*/
    #img-update {
        max-width: 30rem;
        border: groove;
        display: inline-block;
    }

    #edit-image {
        width: 200px;
        height: 200px;
        margin: 1rem;
    }

    #image-file {
        overflow: hidden;
    }

    #edit-div {
        display: flex;
    }

    #profile-info {
        width: 50rem;
        margin: 1rem;
    }
    /*dispensary index page*/
    .dispensary-row {
        display: inline-flex;
        width: 90rem;
        height: 750px;
        
       
    }

    #map {
        display: inline-flex;

        
        width: 100rem;
        height: 300px;
        background-color: white;
    }
     div#map{
         width: 100rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    }
    #tiles {
        display: inline-flex;

        
        width: 70rem;
        height: 300px;
        border-right: ridge;
        
    }
        div#tiles{
         width: 70rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    h3{
            font-size:xx-large;

    }
 #dispensary-tile{
         text-align: center;
        background-color: #5cb0ed;
        display:block;
        width: 100%;
        height: 300px;
            font-size:xx-large;
      
        
        
        overflow:scroll;
        
       
        transition: 4s;
       
    }
    #dispensary-tile p {
        text-align: center;
        background-color: #5cb0ed;
        display: inline-flex;
        width: 100%;
        height: 100px;
        color: #fffff0;
            font-size:36px;
      
       
        overflow: scroll;
        transition: 4s;
        vertical-align:baseline;
    }

 


    .mainpage {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
        -moz-column-gap: 10px; /* Firefox */
        column-gap: 10px;
    }
    /*all form inputs*/
    #email {
        text-align: center;
    }

    #username {
        text-align: center;
    }

    #password {
        text-align: center;
    }

    #confirmPassword {
        text-align: center;
    }

    .form-horizontal {
        text-align: center;
        border: 2px;
    }

    #signup-form h2 {
        text-align: center;
        width:100%;

    }
     #signup{
        width:110%;

    }
    .home-page {
        display: inline-flex;
        width:70rem;
        align-items: center;
    }

    #login-display {
        z-index: 1;
    }

    #user-email {
        text-align: right;
    }

    /*dropdown for profile*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#dropbtn li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#dropdown:hover #dropbtn li a:hover{
    background-color: red;
}

li#dropdown {
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown-content a:hover {background-color: #f1f1f1}

#dropdown:hover #dropdown-content {
    display: block;
}
    .sidebar {
        display: inline-flex;
        height: 600px;
        width: 300px;
        background-color: #079e16;
        position: absolute;      
        align-self: flex-start;
        overflow: scroll;
        transition: 4s;
        border-right: groove;
    }
    div.sidebar{
   width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}

    .sidebar-content {
        display: none;
        height: 15rem;
        width: 30vw;
        border-bottom: groove;
        border-bottom-color: white;
        overflow: visible;
        margin: 1rem;
    }

        .sidebar-content p {
            font-size: 20px;
            color: #ffeb3b;
        }
    /*navbar*/
    .navbar {
        background-color: #fffff0;
                width:100%;
        height: 150px;
       z-index:1;
       
    }

   

    footer {
        display: inline-block;
        list-style-type: none;
        
        padding: 0;
        overflow: hidden;
        height: auto;
        background-image: url('../img/greenleaf.png');
        width:100rem;

        /*background-color: #532370;*/
    }

        footer a {
            display: inline-block;
                        font-size:36px;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /*After Login Page*/
    #afterLogin {
         width: 100%;
        height: 950px;
        
    }
       
    /*brand-name*/


    #brandName {
        display: inline-flex;
        height: 150px;
                width:100rem;
        
            font-size:36px;
  
        background-color: #079e16;
    }

    #brand {
       
        display: flex;
        background-image: url('../img/newcolorleaf.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-decoration: none;
        color: #079e16;
        position: relative;
    }

        #brand a {
            color: #079e16;
            padding: 14px 25px;
            z-index: 1;
            position: relative;
            text-decoration: none;
            display: flex;
            height: 150px;
            width: 150px;
            font-size:36px;
        }
    /*#brand :hover {
       
    background-image: url('../img/logo.png');
    background-size:100% 100%;
    background-color:transparent;
    background-repeat: no-repeat;
    text-decoration: none;

}*/
    #logo {
        height: 74px;
                width:98%;
        background-image: url('../img/logo2.png');
        background-size: 100% 100%;
    }

}
@media screen and (min-width:900px){
    
   
    /*main page*/
    body {
        background-color: #fffff0;
        width: 100rem;
        
        font-size:20px;
    }
     .row{
        display:flex;
    }
      input{
        width:100%;
    }
    hr {
        color: #079e16;
    }
    br{
        color: #079e16;

    }
    /*content after nav bar*/
    .afterNav {
        height: 950px;
        width: 70rem;
        margin-left:300px;

    }
    .strain{
    
        display:inline-block;
    }
    #strain{
     
        display:inline-block;
    }

    .after-nav {
        
        background-color: #fffff0;
        height: 950px;
        width: 100rem;
    }
    /*.empty{
    height:250px;
    width:100rem;
    border-right:dashed;
    margin-right:5rem;
    
}*/
    /*dispensary form in home page*/
    #home-signup {
        display: inline-block;
        text-align: center;
         height: 100%;
        width: 40rem;
        font-size:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    label {
        font-size: 16px;
    }

    #business-signup {
        display: inline-block;
        text-align: center;
        height: 40rem;
        width: 20rem;
        padding: 5px;

    }

        #business-signup p {
                   font-size:36px;

        }
    /*login-form that displays anywhere*/
    .login-form {
        text-align: center;
        height: 50rem;
        width: 50rem;
        font-size:xx-large;

    }
    /*after-login home page*/
    #home-dispensary {
    width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
   

    }

    #home-deal {
     width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
    }

    #home-service {
           width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
    }

    #home-map {
        width: 98%;
        height: 300px;
        overflow: hidden;
   
       

    }
     div#home-map{
                 width: 98%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    /*dispensary form input dispensary create page*/
   
    #dispensary-form {
        display: inline-block;
        height: 50rem;
        width: 35rem;
        margin-bottom: 15rem;
        text-align: center;
        
       
    }

    #dispensary-create {
        display: inline-block;
        height: 50rem;
        width: 50rem;
        
       
        text-align: center;
    }
    /*profile index page*/
    #profile-form {
        text-align: center;
        height: 100rem;
        width: 80rem;
            font-size:24px;

    }

    #profile {
        display: flex;
        
       
      width:90rem;
      overflow:scroll;
    }

        #profile p {
            display: inline-block;
                        font-size:xx-large;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    #profile-img {
        border: groove;
        float: right;
        width: 150px;
        display: block;
        height: 150px;
        
    }
    /*profile edit page*/
    #img-update {
        max-width: 30rem;
        border: groove;
        display: inline-block;
    }

    #edit-image {
        width: 200px;
        height: 200px;
        margin: 1rem;
    }

    #image-file {
        overflow: hidden;
    }

    #edit-div {
        display: flex;
    }

    #profile-info {
        width: 50rem;
        margin: 1rem;
    }
    /*dispensary index page*/
    .dispensary-row {
        display: inline-flex;
        width: 90rem;
        height: 750px;
        
       
    }

    #map {
        display: inline-flex;

        
        width: 100rem;
        height: 300px;
        background-color: white;
    }
     div#map{
         width: 100rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    #tiles {
        display: inline-flex;

        
        width: 70rem;
        height: 300px;
        border-right: ridge;
        
    }
        div#tiles{
         width: 70rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    h3{
            font-size:xx-large;

    }
 #dispensary-tile{
         text-align: center;
        background-color: #5cb0ed;
        display:block;
        width: 100%;
        height: 300px;
            font-size:xx-large;
      
        
        
        overflow:scroll;
        
       
        transition: 4s;
       
    }
    #dispensary-tile p {
        text-align: center;
        background-color: #5cb0ed;
        display: inline-flex;
        width: 100%;
        height: 100px;
        color: #fffff0;
            font-size:36px;
      
       
        overflow: scroll;
        transition: 4s;
        vertical-align:baseline;
    }

 


    .mainpage {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
        -moz-column-gap: 10px; /* Firefox */
        column-gap: 10px;
    }
    /*all form inputs*/
    #email {
        text-align: center;
    }

    #username {
        text-align: center;
    }

    #password {
        text-align: center;
    }

    #confirmPassword {
        text-align: center;
    }

    .form-horizontal {
        text-align: center;
        border: 2px;
    }

    #signup-form h2 {
        width:100%;

        text-align: center;
    }
     #signup{
        width:110%;

    }
    .home-page {
        display: inline-flex;
        width:70rem;
        
        align-items: center;
    }

    #login-display {
        z-index: 1;
    }

    #user-email {
        text-align: right;
    }

   #dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, #dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, #dropdown:hover #dropbtn {
    background-color: red;
}

li#dropdown {
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#dropdown-content a:hover {background-color: #f1f1f1}

#dropdown:hover #dropdown-content {
    display: block;
}
    .sidebar {
        display: inline-flex;
        height: 600px;
        width: 300px;
        background-color: #079e16;
        position: absolute;      
        align-self: flex-start;
        overflow: scroll;
        transition: 4s;
        border-right: groove;
    }
    div.sidebar{
    width: 300px;
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}

    .sidebar-content {
        display: none;
        height: 15rem;
        width: 30vw;
        border-bottom: groove;
        border-bottom-color: white;
        overflow: visible;
        margin: 1rem;
    }

        .sidebar-content p {
            font-size: 20px;
            color: #ffeb3b;
        }
    /*navbar*/
    .navbar {
        background-color: #fffff0;
                width:100%;
        height: 150px;
       z-index:1;
       
    }

  
    footer {
        display: inline-block;
        list-style-type: none;
        
        padding: 0;
        overflow: hidden;
        height: auto;
        background-image: url('../img/greenleaf.png');
        width:100rem;

        /*background-color: #532370;*/
    }

        footer a {
            display: inline-block;
                        font-size:36px;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /*After Login Page*/
    #afterLogin {
        width: 100%;
        height: 950px;
      
    }
    
    /*brand-name*/


    #brandName {
        display: inline-flex;
        height: 150px;
                width:100rem;
        
            font-size:36px;
  
        background-color: #079e16;
    }

    #brand {
       
        display: flex;
        background-image: url('../img/newcolorleaf.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-decoration: none;
        color: #079e16;
        position: relative;
    }

        #brand a {
            color: #079e16;
            padding: 14px 25px;
            z-index: 1;
            position: relative;
            text-decoration: none;
            display: flex;
            height: 150px;
            width: 150px;
            font-size:36px;
        }
    /*#brand :hover {
       
    background-image: url('../img/logo.png');
    background-size:100% 100%;
    background-color:transparent;
    background-repeat: no-repeat;
    text-decoration: none;

}*/
    #logo {
        height: 74px;
                width:98%;
        background-image: url('../img/logo2.png');
        background-size: 100% 100%;
    }

}
@media screen and (min-width:1200px){
    
   
    /*main page*/
    body {
        background-color: #fffff0;
        width: 100rem;
        font-size:20px;
    }
     /*.row{
        display:flex;
    }*/
      input{
        width:100%;
    }

    hr {
        color: #079e16;
    }
    br{
        color: #079e16;

    }
    /*content after nav bar*/
    .afterNav {
        display:flex;
        height: 950px;
        width: 70rem;
        margin-left:300px;

    }
    .strain{
    
        display:inline-block;
    }
    #strain{
     
        display:inline-block;
    }

    .after-nav {
        
        background-color: #fffff0;
        height: 950px;
        width: 100rem;
    }
    /*.empty{
    height:250px;
    width:100rem;
    border-right:dashed;
    margin-right:5rem;
    
}*/
    /*dispensary form in home page*/
    #home-signup {
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 40rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              

        font-size:20px
    }

    label {
        font-size: 16px;
    }

    #business-signup {
        display: inline-block;
        text-align: center;
        height: 40rem;
        width: 40rem;
        padding: 5px;

    }

        #business-signup p {
                   font-size:36px;

        }
    /*login-form that displays anywhere*/
    .login-form {
        display:block;
        text-align: center;
        height: 50rem;
        width: 50rem;
        font-size:xx-large;

    }
    /*after-login home page*/
    #home-dispensary {
    width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
   

    }

    #home-deal {
     width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
    }

    #home-service {
           width: 60rem;
    height: 300px;
    overflow: hidden;
    font-size: xx-large;
    }

    #home-map {
        width: 98%;
        height: 300px;
        overflow: hidden;
   box-shadow:1px;
       

    }
     div#home-map{
                 width: 98%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    /*dispensary form input dispensary create page*/
    
    #dispensary-form {
        display: inline-block;
        height: 50rem;
        width: 35rem;
        margin-bottom: 15rem;
        text-align: center;
        
       
    }

    #dispensary-create {
        display: inline-block;
        height: 50rem;
        width: 50rem;
        
       
        text-align: center;
    }
    /*profile index page*/
    #profile-form {
        text-align: center;
       height: 80rem;
    width: 100rem;
    
            font-size:20px;

    }

    #profile {
        display: flex;
        
       
      width:90rem;
      overflow:scroll;
    }

        #profile p {
            display: inline-block;
                        font-size:xx-large;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    #profile-img {
        border: groove;
        float: right;
        width: 150px;
        display: block;
        height: 150px;
        
    }
    /*profile edit page*/
    #img-update {
        max-width: 30rem;
        border: groove;
        display: inline-block;
    }

    #edit-image {
        width: 200px;
        height: 200px;
        margin: 1rem;
    }

    #image-file {
        overflow: hidden;
    }

    #edit-div {
        display: flex;
    }

    #profile-info {
        width: 50rem;
        margin: 1rem;
    }
    /*dispensary index page*/
    .dispensary-row {
        display: inline-flex;
        width: 100rem;
        height: 750px;
        
       
    }

    #map {
        display: inline-flex;

        
        width: 100rem;
        height: 300px;
        background-color: white;
    }
    div#map{
         width: 100rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    }
    #tiles {
        display: inline-flex;

        
        width: 70rem;
        height: 300px;
        border-right: ridge;
        
    }
        div#map{
         width: 70rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  text-align: center;
    }
    h3{
            font-size:xx-large;

    }
 #dispensary-tile{
         text-align: center;
        background-color: #5cb0ed;
        display:block;
        width: 100%;
        height: 300px;
            font-size:xx-large;
      
        
        
        overflow:scroll;
        
       
        transition: 4s;
       
    }
    #dispensary-tile p {
        text-align: center;
        background-color: #5cb0ed;
        display: inline-flex;
        width: 100%;
        height: 100px;
        color: #fffff0;
            font-size:36px;
      
       
        overflow: scroll;
        transition: 4s;
        vertical-align:baseline;
    }

 


    .mainpage {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
        -moz-column-gap: 10px; /* Firefox */
        column-gap: 10px;
    }
    /*all form inputs*/
    #email {
        text-align: center;
    }

    #username {
        text-align: center;
    }

    #password {
        text-align: center;
    }

    #confirmPassword {
        text-align: center;
    }

    .form-horizontal {
        text-align: center;
        border: 2px;
    }

    #signup-form h2 {
        text-align: center;
        width:80%;

    }
    input{
        width:100%;
    }
     #signup{
        width:80%;

    }
    .home-page {
        display: inline-flex;
        width:70rem;
       
        align-items: center;
    }

    #login-display {
        z-index: 1;
    }

    #user-email {
        text-align: right;
    }

    /*dropdown for profile*/
#dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #079e16;
}

li {
    float: left;
}
 li a, #dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:xx-large;
}

 #dropdown:hover #dropbtn li a:hover{
    background-color: red;
    z-index:1;
}

li#dropdown {
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:10;
}

#dropdown-content a {
    z-index:10;

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:xx-large;
}

#dropdown-content a:hover {background-color: #f1f1f1}

#dropdown:hover #dropdown-content {
    display: block;
    z-index:10;

}
    .sidebar {
        display: inline-flex;
        height: 600px;
        width: 300px;
        background-color: #079e16;
        position: absolute;      
        align-self: flex-start;
        overflow: scroll;
        transition: 4s;
        border-right: groove;
    }
    div.sidebar{
    width: 300px;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}

    .sidebar-content {
        display: none;
        height: 15rem;
        width: 30vw;
        border-bottom: groove;
        border-bottom-color: white;
        overflow: visible;
        margin: 1rem;
    }

        .sidebar-content p {
            font-size: 20px;
            color: #ffeb3b;
        }
    /*navbar*/
    .navbar {
        background-color: #fffff0;
                width:100%;
        height: 150px;
       z-index:1;
    }

   
    footer {
        display: inline-block;
        list-style-type: none;
        
        padding: 0;
        overflow: hidden;
        height: auto;
        background-image: url('../img/greenleaf.png');
        width:100vw;

        /*background-color: #532370;*/
    }

        footer a {
            display: inline-block;
                        font-size:36px;

            color: #079e16;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

    /*After Login Page*/
    #afterLogin {
        width: 100%;
        height: 950px;
        
    }
    
    /*brand-name*/


    #brandName {
        display: flex;
        height: 150px;
                width:100vw;
        
            font-size:36px;
  
        background-color: #079e16;
    }

    #brand {
       
        display: flex;
        background-image: url('../img/newcolorleaf.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-decoration: none;
        color: #079e16;
        position: relative;
    }

        #brand a {
            color: #079e16;
            padding: 14px 25px;
            z-index: 1;
            position: relative;
            text-decoration: none;
            display: flex;
            height: 150px;
            width: 150px;
            font-size:36px;
        }
    /*#brand :hover {
       
    background-image: url('../img/logo.png');
    background-size:100% 100%;
    background-color:transparent;
    background-repeat: no-repeat;
    text-decoration: none;

}*/
    #logo {
        height: 74px;
                width:98%;
        background-image: url('../img/logo2.png');
        background-size: 100% 100%;
    }
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
}