﻿@using DispensaryDB.ViewModels

@model RegisterViewModel
@{
    ViewData["Title"] = "DispensaryDB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{
    <div id="afterLogin">
        <a  href="/dispensaries">
            <div id="home-dispensary">
               
                <div id="home-map" role="link"></div>
            </div>
        </a>
        <hr />
        <div id="home-deal" role="link">
            <h3 role="link" href="/dispensaries">Deals</h3>
        </div>
        <hr />
        <div id="home-service" >
            <h3 role="link" href="/dispensaries">Services</h3>
        </div>

    </div>
}
else
{

    <div class="row container-fluid home-page">
        <div class="col-xs-6 container-fluid" id="business-signup">
            
            <a href="/dispensaries"><h2>Checkout all the dispensaries nearby you.</h2></a>
            @*<p><strong>Find and share.</strong></p>
            <p><strong>Leave comments to the dispensaries you like</strong></p>
            <p><strong>Read news and blogs about the industry.</strong></p>*@
            <hr />
            <p>@Html.ActionLink("Create a page for your dispensary", "Create", "Dispensaries").</p>
        </div>
        <div class="col-xs-6 container-fluid" id="home-signup">
           <p><strong>Signup</strong></p>
            <div id="signup-form">
                <form action="/Home/Register" method="post" id="signup">
                    <div>
                        <label for="email" class="col-xs-2 control-label">Email</label>
                        <input id="email" name="email" type="email" placeholder="Enter your email" />
                    </div>
                    <div>
                        <label for="username" class="col-xs-2 control-label">UserName</label>
                        <input id="username" name="username" type="text" placeholder="Enter your username" />
                    </div>
                    <div>
                        <label for="password" class="col-xs-2 control-label">Password</label>
                        <input id="password" name="password" type="password" placeholder="Create password" />
                    </div>
                    <div>
                        <label for="confirmPassword" class="col-xs-2 control-label">Confirm Password</label>
                        <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" />
                    </div>
                    <div class="checkbox" id="subscribe-checkbox">
                        <label for="mailingList">
                            <input type="checkbox" name="mailingList" value="true" /> Subscribe(Optional)
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success btn-block">Sign up</button>
                    </div>
                </form>
            </div>

        </div>

    </div>

}
<script src="~/js/home-mapfeature.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeJaowgQYY7-n8Gujf0CVdfTfB6wQxEr8&callback=myMap"></script>
