﻿<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/StyleSheet.css" rel="stylesheet" />
@using DispensaryDB.ViewModels

@model LoginViewModel



<div class="login-form container">
    <h2>Log in to your account</h2>
    <form action="/Home/Login" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <input id="username" name="username" type="text" placeholder="Enter your username" class="col-sm-8" />
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your password" class="col-sm-8"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Login</button>
        </div>
        
       
    </form>
    <div class="form-group">
        <a href="/Home/Register" class="btn btn-success" role="button">Sign up</a>
    </div>
</div>
