﻿@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using DispensaryDB.ViewModels

@model RegisterViewModel
<div class="row container-fluid ">
    <div class="col-xs-6 container-fluid" id="business-signup">
        <h2>Checkout all the dispensaries nearby you.</h2>
        <p><strong>Find and share.</strong></p>
        <p><strong>Leave comments to the dispensaries you like</strong></p>
        <p><strong>Read news and blogs about the industry.</strong></p>
        <p><a href="/dispensary/Create">Create a page for your dispensary.</a></p>
    </div>
    <div class="col-xs-6 container-fluid" id="home-signup">
        <h2>Sign up</h2>
        <div class="form-horizontal" id="signup-form">
            <form action="/Home/Register" method="post" id="signup">
                <div class="form-group">
                    <label for="email" class="col-xs-3 control-label">Email</label>
                    <input id="email" name="email" type="email" placeholder="Enter your email" />
                </div>
                <div class="form-group">
                    <label for="username" class="col-xs-3 control-label">UserName</label>
                    <input id="username" name="username" type="text" placeholder="Enter your username" />
                </div>
                <div class="form-group">
                    <label for="password" class="col-xs-3 control-label">Password</label>
                    <input id="password" name="password" type="password" placeholder="Create password" />
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="col-xs-3 control-label">Confirm Password</label>
                    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" />
                </div>
                <div class="checkbox" id="subscribe-checkbox">
                    <label for="mailingList">
                        <input type="checkbox" name="mailingList" value="true"/> Subscribe and get any news or updates.(Optional)
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-block">Sign up</button>
                </div>
            </form>
        </div>

    </div>

</div>
