﻿@{
    ViewData["Title"] = "Add Strain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DispensaryDB.Models.Strain
<h2>Add a Strain</h2>
<div class="container-fluid">
    <form action="/strains/Create" method="post" id="strain-form" class="form-horizontal jumbotron" enctype="multipart/form-data">

        <div class="form-group">
            <label for="ProperName" class="col-sm-3 control-label">Proper Name</label>
            <input id="ProperName" name="ProperName" type="text" />
        </div>

        <div class="form-group">
            <label for="Strain" class="col-sm-3 control-label">Strain</label>
            <input id="Strain" name="Strain" type="text" />
        </div>

        <div class="form-group">
            <label for="ScientificName" class="col-sm-3 control-label">Scientific Name</label>
            <input id="ScientificName" name="ScientificName" type="datetime" />
        </div>

        <div class="form-group">
            <label for="THC" class="col-sm-3 control-label">THC%</label>
            <input id="THC" name="THC" type="text" />
        </div>

        <div class="form-group">
            <label for="CBD" class="col-sm-3 control-label">CBD%</label>
            <input id="CBD" name="CBD" type="text" />
        </div>

        <div class="form-group">
            <label for="RetailPrice" class="col-sm-3 control-label">Retail Price/oz</label>
            <input id="RetailPrice" name="RetailPrice" type="text" />
        </div>

        <div class="form-group">
            <label for="Effects" class="col-sm-3 control-label">Effects</label>
            <input id="Effects" name="Effects" type="text" />
        </div>
        <div class="form-group">
            <label for="Image" class="col-sm-3 control-label">Image</label>
            <input id="Image" name="Image" type="file" />
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>