﻿@{
    ViewData["Title"] = "Edit Strain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DispensaryDB.Models.Strain

<h4>Edit @Html.DisplayFor(model => model.ProperName)</h4>
<form action="/strains/Edit" method="post" id="profile-form" class="form-horizontal jumbotron" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => @Model.StrainId)
    @Html.HiddenFor(model => @Model.RowVersion)
    @Html.HiddenFor(model => @Model.User)
    <div class="row" id="edit-div">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="ProperName" class="col-sm-3 control-label">Proper Name</label>
                <input id="ProperName" name="ProperName" type="text" value="@Model.ProperName" />
            </div>

            <div class="form-group">
                <label for="Strain" class="col-sm-3 control-label">Strain</label>
                <input id="Strain" name="Strain" type="text" value="@Model.strain" />
            </div>

            <div class="form-group">
                <label for="ScientificName" class="col-sm-3 control-label">Scientific Name</label>
                <input id="ScientificName" name="ScientificName" type="text" value="@Model.ScientificName" />
            </div>

            <div class="form-group">
                <label for="THC" class="col-sm-3 control-label">THC</label>
                <input id="THC" name="THC" type="text" value="@Model.THC" />
            </div>

            <div class="form-group">
                <label for="CBD" class="col-sm-3 control-label">CBD</label>
                <input id="CBD" name="CBD" type="text" value="@Model.CBD" />
            </div>

            <div class="form-group">
                <label for="RetailPrice" class="col-sm-3 control-label">Retail Price/oz</label>
                <input id="RetailPrice" name="RetailPrice" type="text" value="@Model.RetailPrice" />
            </div>

            <div class="form-group">
                <label for="Effects" class="col-sm-3 control-label">Effects</label>
                <input id="Effects" name="Effects" type="text" value="@Model.Effects" />
            </div>
        </div>

        <div class="col-xs-6">
            <div class="form-group">
                @Html.HiddenFor(model => @Model.Image)
                <div id="img-update">
                    <img src="~/img/@Html.DisplayFor(model=>Model.Image)" id="edit-Image" />
                    <input name="Image" type="file" id="image-file" />
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
