﻿@{
    ViewData["Title"] = "Strain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DispensaryDB.Models.Strain>
@using System.Security.Claims


<div class="strain jumbotron">
    @if (Model.Any())
    {

        @foreach (var strain in Model)
        {
            <div class="row" id="strain">
                <div class="col-xs-6" id="strain-info">
                    <p>@strain.ProperName</p>
                    <p>@strain.Image</p>
                    <p>@strain.strain</p>
                    <div>
                        <a href="/strains/Edit/@strain.StrainId" role="button" id="edit-strain" class="btn btn-danger">Update strain</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <img src="~/img/@strain.Image" alt="flower picture" id="strain-img" />
                </div>
            </div>
        }

    }
    
    <p>@Html.ActionLink("New Strain", "Create")</p>
</div>
